{
    "useTabs": false,      
    "printWidth": 80,      
    "tabWidth": 2,         
    "singleQuote": true,  
    "trailingComma": "none",
    "jsxBracketSameLine": false,
    "semi": true,
    "endOfLine": "auto",
    "bracketSpacing": true,
    "proseWrap": "always",
    "arrowParens": "avoid",
}